{
 "CRAWL_LIST": "./indata/scanlist_20171223.csv",
 "CRAWL_LIMIT_TLDS": ["NL", "UK", "BE", "FR", "DE", "PL", "ES", "US", "COM", "ORG"],
 "CRAWL_LIMIT_PER_TLD": 10,
 "VANTAGES": ["NL", "BE", "US"],
 "BANNER_LIST": "./indata/bannerlist_201709.txt",
 "TEST_VPN_SITE": "geoip.hidemyass.com",
 "OUTPUT_DIR": "./crawl-output/eucrawl-",
 "NUM_BROWSERS": 3,
 "OWPM_TIMEOUT": 60,
 "HMA_CRED": "./indata/hma.cred",
 "_comment_limits": "starting with small crawl/vantage list",
 "_comment_banners": "get 2018 version",
 "_comment_more_fields": "possibly have GEODB, ..."
}
